@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

:root{
    --cor1:#B6C5E8;
    --cor2:#506080;
    --cor3:#2755B7;
    --cor4:#010FE6;
    --cor5:#282E52;

    --fonte-padrao: Arial, verdana, helvetica, sans-serif;
    --fonte-especial: "Cinzel", serif;
      
    }
*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #B6C5E8;
    font-family: var(--fonte-padrao);
    
}
header{
    background-image: linear-gradient(to bottom, var(--cor4), var(--cor3));
    color:white;
    min-height: 170px;
    padding-top: 20px;
   
    
}
header > .ws{
    padding-left: 5px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.404);
    text-decoration: none;
}
header > .segundo{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.349);
}
header > p{
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    max-width: 400px;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.137);
    line-height: 1.5em;
}
nav{
    background-color: var(--cor3);
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.096);
    text-align: right;
    
    
}
nav > a{
    color: rgb(255, 252, 252);
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    transition-duration: .2s;
    padding-bottom: 10px;
}
nav > a:hover{
    background-color:var(--cor1);
    color: var(--cor4);
    padding-top: 2px;
    padding-bottom: 0px;
}
main{
    min-width: 300px;
    max-width: 1150px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.281);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.5em;
}
.ws{
    font-family: var(--fonte-especial);
}
h1{
    font-family: var(--fonte-especial);
}
nav{
    font-family: var(--fonte-especial);
    
}
article > p{
    background-color: white;    
}
article > ul {
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    
}
article > ul >li{
   padding-bottom: 10px;
   
}
aside > h2{
    background-image: linear-gradient(to right, var(--cor3), transparent);
    font-family: var(--fonte-especial);
    color: white;

}
aside > h3,.sistema {
    background-color: white;
}
aside> h3{
    padding-top: 10px;
}
aside a {
    text-decoration:none;
}
.paragrafo{
    padding-bottom: 10px;
}
.gui li{
    padding-left: 10px;
    padding-bottom: 10px;

}
.hmi li{
    padding-left: 10px;
    padding-bottom: 10px;
}
.um {
    padding-top: 20px;
}
picture{
    padding: 20px;
    padding-bottom: 58%;
    position: relative;

}
picture > small >a{
    padding-left: 20px;
    padding-bottom: 50px;
}
div.video{
    background-color: #335db9a8;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
}
div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
footer{
    background-image: linear-gradient(to right, var(--cor3), transparent);
}
footer p{
    margin-left: 10px;

}
    
